# **Python for Data Science**
---

## Assignment 7

### Pandas II
---

# **README.md**


## Overview
This assignment focuses on performing various DataFrame manipulations using Python's **pandas** library. It includes tasks like creating new columns, merging DataFrames, and extracting specific information from text columns. These exercises are designed to improve your data preprocessing and transformation skills.

## Exercises

### Exercise 1: Creating Professor Initials
**Description:** We need to extract the initials of each professor's first and last names and store them in a new column called professor_initials.


### Exercise 2: Given the dataframe below. Use **join** to combine this new DataFrame with the original one based on the professor column.
**Description:** We will merge the original DataFrame and the new df_courses DataFrame using the professor column as the key.

### Exercise 3: Combine the original df and df_courses DataFrames.
**Description:** We combine two DataFrames (df and df_courses) based on the common column professor to include the course information for each professor.

### Exercise 4: In the professor column, create a new column professor_last_name by extracting the last name of each professor using string operations.
**Description:** We extract the last name of each professor from the professor column using string operations and store it in a new column called professor_last_name.

---

In [12]:
import pandas as pd

---

# **Exercises**

### Exercise 1: Create a new column called **professor_initials** that stores the initials of each professor's first and last names. Use the following data:

**Description:** We need to extract the initials of each professor's first and last names and store them in a new column called professor_initials.

In [15]:
data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'department': ['Computer Science', 'Computer Vision', 'AI & Robotics', 'Autonomous Systems'],
    'age': [45, 50, 47, 38]
}

df = pd.DataFrame(data)

# Creating a new column for professor initials

df['professor_initials'] = df['professor'].apply(lambda name: ''.join([part[0].upper() for part in name.split()]))

# Displaying the DataFrame

print(df)

          professor          department  age professor_initials
0  Ludmila Kuncheva    Computer Science   45                 LK
1  Antonio Torralba     Computer Vision   50                 AT
2   Manuel Gonzalez       AI & Robotics   47                 MG
3     Bastian Leibe  Autonomous Systems   38                 BL

---

### Exercise 2: Given the dataframe below. Use **join** to combine this new DataFrame with the original one based on the professor column.

**Description:** We will merge the original DataFrame and the new df_courses DataFrame using the professor column as the key.

In [16]:
courses_data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'courses': ['Machine Learning', 'Computer Vision', 'AI Programming', 'Self-Driving Cars']
}
df_courses = pd.DataFrame(courses_data)

# Using join by aligning on the 'professor' column

df_combined = df.join(df_courses.set_index('professor'), on='professor')

df_combined

,professor,department,age,professor_initials,courses
0,Ludmila Kuncheva,Computer Science,45,LK,Machine Learning
1,Antonio Torralba,Computer Vision,50,AT,Computer Vision
2,Manuel Gonzalez,AI & Robotics,47,MG,AI Programming
3,Bastian Leibe,Autonomous Systems,38,BL,Self-Driving Cars

---

### Exercise 3: Combine the original df and df_courses DataFrames.

**Description:** We combine two DataFrames (df and df_courses) based on the common column professor to include the course information for each professor.

In [18]:
data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'department': ['Computer Science', 'Computer Vision', 'AI & Robotics', 'Autonomous Systems'],
    'age': [45, 50, 47, 38]
}
df = pd.DataFrame(data)

# Courses DataFrame

courses_data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'courses': ['Machine Learning', 'Computer Vision', 'AI Programming', 'Self-Driving Cars']
}
df_courses = pd.DataFrame(courses_data)

# Merging DataFrames

combined_df = pd.merge(df, df_courses, on='professor')

# Displaying the combined DataFrame

print(combined_df)

          professor          department  age            courses
0  Ludmila Kuncheva    Computer Science   45   Machine Learning
1  Antonio Torralba     Computer Vision   50    Computer Vision
2   Manuel Gonzalez       AI & Robotics   47     AI Programming
3     Bastian Leibe  Autonomous Systems   38  Self-Driving Cars

---

### Exercise 4: In the professor column, create a new column professor_last_name by extracting the last name of each professor using string operations.

**Description:** We extract the last name of each professor from the professor column using string operations and store it in a new column called professor_last_name.

In [14]:
# Creating a new column for professor last names

df['professor_last_name'] = df['professor'].apply(lambda name: name.split()[-1])

# Displaying the DataFrame

print(df)

          professor          department  age professor_last_name
0  Ludmila Kuncheva    Computer Science   45            Kuncheva
1  Antonio Torralba     Computer Vision   50            Torralba
2   Manuel Gonzalez       AI & Robotics   47            Gonzalez
3     Bastian Leibe  Autonomous Systems   38               Leibe

---